{{! NEW DELHI }}

<div class="main-container">
    <section class="city-container">
        <div class="city-title"><a href="/new-delhi">New Delhi</a></div>
{{#each articles}}
            <div class="blog-post-snippet">
                <img class="post-photo" src="{{this.image}}"></img>
                    <div class="post-title">{{this.title}}</div>
                        <p class="post-description">{{this.markdown}}</p>
            </div>
                           <div class="spacer"></div>
{{/each}}  
            <a href="/new-delhi">More New Delhi stories →</a>
    </section>


{{! KOLKATA }}
    <section class="city-container">
        <div class="city-title"><a href="/kolkata">Kolkata</a></div>
{{#each articles}}
            <div class="blog-post-snippet">
                <img class="post-photo" src="{{this.image}}"></img>
                    <div class="post-title">{{this.title}}</div>
                        <p class="post-description">{{this.markdown}}</p>
            </div>
                            <div class="spacer"></div>
{{/each}}  
            <a href="/kolkata">More Kolkata stories →</a>
    </section>

{{! KOCHI }}
    <section class="city-container">
        <div class="city-title"><a href="/kochi">Kochi</a></div>
{{#each articles}}            
            <div class="blog-post-snippet">
                <img class="post-photo" src="{{this.image}}"></img>
                    <div class="post-title">{{this.title}}</div>
                        <p class="post-description">{{this.markdown}}</p>
            </div>
                            <div class="spacer"></div>
{{/each}}       
            <a href="/kochi">More Kochi stories →</a>
    </section>

{{! JAIPUR }}

    <section class="city-container">
        <div class="city-title"><a href="/jaipur">Jaipur</a></div>
            <div class="blog-post-snippet"> 
{{#each articles}}
                <img class="post-photo" src="{{this.image}}"></img>
                    <div class="post-title">{{this.title}}</div>
                        <p class="post-description">{{this.markdown}}</p>
{{/each}}
            </div>
                <div class="spacer"></div>
            <a href="/jaipur">More Jaipur stories →</a>
    </section>
</div>
<div class="spacer-white"></div>
